body{
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1{
   text-align: center;
   color:aquamarine;
}

h2{
    color:aqua;
}

ul, ol{
    background-color:aliceblue;
    padding:15px;
    border-radius: 8px;

}

li{
    margin: 5px 0;
}